<img src="img/ORO.png" class="mx-auto d-block m-4 principal">
<div class="alert alert-dismissible alert-secondary">
  {{!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> --}}
  <h4 class="alert-heading">¡Compra aquí tus Arracadas Jerezanas!</h4>
  <p class="mb-0">Las joyas tienen el poder de ser la encarnación de cualquier 
    emoción que pueda hacernos sentir únicos y especiales, todos amamos sentirnos 
    de esa manera. Una joya es la nota clave para construir una imagen individual 
    para cada ocasión y para que cada persona tenga su estilo propio. Todo esto lo podemos apreciar desde 
    hace mucho tiempo atrás, en donde las culturas antigüas usaban estos ornamentos para 
    embellecer los cuerpos.</p>
  <p>Síguenos en <a href="https://www.facebook.com/people/Arracadas-Jerezanas-Joyer%C3%ADa-Rubi/100057530946181/" class="alert-link"><i class='bx bxl-facebook-circle' style='color:#113ed5; font-size: 35px;'></i></a></p>
</div>